<div class="tela-introducao-container">
  <h1 id="tela-introducao-titulo" class="tela-introducao-titulo">
  Conexão Verde <i id="icone-verde" class="fa-solid fa-seedling icone-verde"></i>
</h1>
  <p id="tela-introducao-texto" class="tela-introducao-texto">
    Do toque ao impacto, da ideia à ação: o verde da sua cidade passa por você.
  </p>

  <img id="img-introducao" src="assets/images/logo.svg" alt="Logo" class="tela-introducao-logo" />

  <button id="buttom-introducao" class="tela-introducao-botao" (click)="irParaLogin()">
    Explorar projetos
  </button>
</div>
