<!-- Topo -->
<app-top-nav></app-top-nav>

<!-- Conteúdo principal -->
 <div class="home-container">

<!-- Saudação -->
<!-- <h2 class="saudacao">Olá, {{ userName }}!</h2> -->
<h2 class="saudacao">Olá, Lara!</h2>
<!-- Botão Ver Mapa -->
<button class="botao-mapa">Ver mapa</button>

<!-- Texto explicativo -->
<p class="texto-explicativo">
  Descubra projetos ambientais perto de você e comece a fazer a diferença
</p>

<!-- Imagem -->
<img src="assets/images/imagem-home.svg" alt="Ilustração de plantio" class="imagem-home" />

<div class="card-destaque">
  <div class="icon">
    <i class="fa-solid fa-seedling"></i>
  </div>
  <div class="conteudo">
    <p class="titulo-card">Projeto destaque da semana</p>
    <h3 class="nome-projeto">Greenpeace</h3>
  </div>
  <button class="botao-vermais">ver mais</button>
</div>

<!-- Rodapé -->
<app-bottom-nav></app-bottom-nav>
