.saudacao {
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 24px;
    padding: 0 16px;
  }
  
  .botao-mapa {
    background-color: #d4f141;
    border: none;
    border-radius: 20px;
    padding: 12px 28px;
    color: #174537;
    font-weight: bold;
    font-size: 22px; 
    margin: 30px auto; 
    cursor: pointer;
    display: block; 
  }
  
  .texto-explicativo {
    font-size: 18px;
    color: #174537;
    margin: 0 16px 32px;
    text-align: center;
    font-weight: bolder;
  }
  
  .imagem-home {
    width: 100%;
    max-width: 380px;
    display: block;
    margin:  0 auto 24px;
  }

  .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }  
  
  .card-destaque {
    background-color: rgba(192,236,78,0.5);
    border-radius: 20px;
    padding: 30px;
    margin: 0 16px 48px;
    position: relative;
    display: flex;
    gap: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .icon i {
    font-size: 40px;
    color: #6ab301;
    display: flex;
    align-items: center; 
    height: 100%; 
  }

  .conteudo .titulo-card {
    font-size: 17px;
    margin: 0;
    color: #666;
  }
  
  .conteudo .nome-projeto {
    font-size: 23px;
    margin: 0;
    color: #174537;
  }
  
  .botao-vermais {
    background-color: #d4f141;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    color: #174537;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
  
  .home-container {
    padding-bottom: 80px;
    padding: 24px 16px 100px;
  }

  @media (max-width: 420px) {
    .card-destaque {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 60px;
    }
  
    .botao-vermais {
      position: absolute;
      bottom: 16px;
      right: 16px;
    }
  }
  
  