

<!-- topo -->
<app-top-nav></app-top-nav>

<!-- conteúdo principal -->
 <div class="home-container">

<!-- saudação não mockada aeee -->
<h2 class="saudacao">Olá, {{ nomeUsuario }}!</h2>

<!-- botão 'Ver mapa' -->
<button class="botao-mapa" [routerLink]="['/mapa']">Ver mapa</button>

<!-- texto explicativo -->
<p id="texto-explicativo" class="texto-explicativo">
  Descubra projetos ambientais perto de você e comece a fazer a diferença
</p>

<!-- imagem -->
<img src="assets/images/imagem-home.svg" alt="Ilustração de plantio" class="imagem-home" />

<div class="card-destaque">
  <div class="icon">
    <i class="fa-solid fa-seedling"></i>
  </div>
  <div class="conteudo">
    <p class="titulo-card">Projeto destaque da semana</p>
    <h3 class="nome-projeto">Árvores Vivas</h3>
  </div>
  <button class="botao-vermais">ver mais</button>
</div>

<!-- rodapé -->
<app-bottom-nav></app-bottom-nav>
